@use "../boilerplate" as b;
@use "../Article/" as a;
@use "../Banner2/" as banner;


.darksection_container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 104px;
}


.darksection {
  color: white;
  position: relative;
  margin-bottom: 320px;
 max-width: 1440px;

  & h1 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    
    padding-top: 84px;
    margin-inline: 380px;
  }
  &--para {
    margin-inline: 209px;
    margin-top: 20px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 1rem;
    padding-inline:20px;
    margin-top: 60px;
    &_items {
      margin-top: 42px;
      padding-inline:70px;
      & div {
        display: flex;
        align-items: center;
      }
      &_detail {
        font-family: Inter;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        text-align: left;
        margin-left: 75px;
        margin-top: 20px;
      }
      & h2 {
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 56px;

        margin-left: 24px;
      }

      &__details {
        font-size: 18px;
        margin-left: 55px;
        font-weight: 300;
        width: 80%;
      }
    }
  }
}
.dark--banner{
  margin-top: -140px;
  z-index: 10;
}
