@use "../Article/" as a;
@use "../boilerplate" as b;


.interface_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.interface_background{
  background: #F5FDFF;
  padding-top: 110px;
}



.interface {
  max-width: 1440px;
margin-bottom: 80px;
  #{&}__contain{
    margin-top: 114px;
  }
  #{&}__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 165px;
    padding-inline: 80px;


    &_details {
      & h1 {
        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
      }
      & p {
        font-family: Inter;
        margin-top: 32px;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
      }
      &:nth-child(odd){
      padding-inline-end: 100px;
       } &:nth-child(even){
        padding-inline-start: 100px;
      }

    }



  }
}

.article--interface {
  height: 127.96px;
  width: 1006px;

  & h1 {
    font-size: 36px;
    font-weight: 700;
  }

  & p {
    font-size: 17px;
    text-align: left;
  }
}
